In [1]:
import pandas as pd

In [4]:
import json

import chardet

# First, read the file in binary mode
with open('mc3.json', 'rb') as file:
    raw_data = file.read()

# Detect encoding
encoding = chardet.detect(raw_data)['encoding']

# Now, open the file with the detected encoding
with open('mc3.json', 'r', encoding=encoding) as file:
    data = json.load(file)

In [ ]:
# data.keys() # dict_keys(['directed', 'multigraph', 'graph', 'nodes', 'links'])
# len(data['nodes']) # 60520
# len(data['links']) # 75817
data['nodes']

In [63]:
# Convert list of dictionaries to DataFrame
df_nodes = pd.DataFrame(data['nodes'])
df_links = pd.DataFrame(data['links'])

In [66]:
# df.head(2)
df_nodes.groupby('type').head(1)

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id,dob
0,Entity.Organization.Company,Uziland,Unknown,Rebecca Lewis,Ã‰milie-Susan Benoit,1954-04-24T00:00:00,5994.73,Unknown,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Abbott, Mcbride and Edwards",NaN
11,Entity.Organization.LogisticsCompany,Lumakari,Operates tramp vessels for transporting variou...,Calvin Rodriguez,James Dawson,1974-07-04T00:00:00,14667942.40,"Acosta, Campbell and Leblanc is a leading prov...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Acosta, Campbell and Leblanc",NaN
12,Entity.Organization.FishingCompany,Valtalmo,Seafood frozen,Scott Merritt,Gregory Hobbs,2020-11-01T00:00:00,27754.69,"Acosta, Fields and Moore is a seafood processi...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Acosta, Fields and Moore",NaN
91,Entity.Organization.FinancialCompany,Oceanus,"Covers financing casino expansions, hotel expa...",Justin Aguilar,Salvi Gatto,2016-02-05T00:00:00,91222.07,"Allen, Mcfarland and Avila is a financial serv...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Allen, Mcfarland and Avila",NaN
4968,Entity.Organization.NewsCompany,Oceanus,Publication and printing of newspapers and mag...,Lauren Gomez,Kathleen Perez,1984-01-16T00:00:00,12496.67,McLean-Alexander is a leading publisher of new...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Mclean-Alexander,NaN
8679,Entity.Organization.NGO,Oceanus,Advocates for marine life and ecological conse...,Mallory Roy,Susan Hines,2029-08-12T00:00:00,0.00,A dedicated organization focused on the preser...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Oceanus Guardians Alliance,NaN
8684,Entity.Person,Arvaros,NaN,NaN,NaN,NaN,NaN,NaN,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Laura Newman,1996-11-24T00:00:00
9012,Entity.Person.CEO,Mawalara,NaN,NaN,NaN,NaN,NaN,NaN,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Brian Robertson,1995-02-05T00:00:00

In [59]:
df_nodes['type'].value_counts()

type
Entity.Person                           50356
Entity.Organization.Company              7927
Entity.Person.CEO                        1293
Entity.Organization.FishingCompany        600
Entity.Organization.LogisticsCompany      311
Entity.Organization.FinancialCompany       23
Entity.Organization.NewsCompany             5
Entity.Organization.NGO                     5
Name: count, dtype: int64

In [71]:
Organization_Company = df_nodes[df_nodes['type'] == 'Entity.Organization.Company'].dropna(axis=1, how='all')
Organization_FishingCompany = df_nodes[df_nodes['type'] == 'Entity.Organization.FishingCompany'].dropna(axis=1, how='all')
Organization_LogisticsCompany = df_nodes[df_nodes['type'] == 'Entity.Organization.LogisticsCompany'].dropna(axis=1, how='all')
Organization_FinancialCompany = df_nodes[df_nodes['type'] == 'Entity.Organization.FinancialCompany'].dropna(axis=1, how='all')
Organization_NewsCompany = df_nodes[df_nodes['type'] == 'Entity.Organization.NewsCompany'].dropna(axis=1, how='all')
Organization_NGO = df_nodes[df_nodes['type'] == 'Entity.Organization.NGO'].dropna(axis=1, how='all')
Person = df_nodes[df_nodes['type'] == 'Entity.Person'].dropna(axis=1, how='all')
Person_CEO = df_nodes[df_nodes['type'] == 'Entity.Person.CEO'].dropna(axis=1, how='all')

In [93]:
df_links.groupby('type').head(2)

,start_date,type,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,source,target,key,end_date
0,2016-10-29T00:00:00,Event.Owns.Shareholdership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Avery Inc,"Allen, Nichols and Thompson",0,NaN
1,2035-06-03T00:00:00,Event.Owns.Shareholdership,Niklaus Oberon,2035-07-15T00:00:00,2035-07-15T00:00:00,Oceanus Corporations Monthly - Jun '35,Manual Entry,Berger-Hayes,"Jensen, Morris and Downs",0,NaN
335,2018-05-10T00:00:00,Event.Owns.BeneficialOwnership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Laura Newman,Briggs-Wilson,0,NaN
337,2015-12-21,Event.WorksFor,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Laura Newman,Wright-Bennett,1,NaN
338,2013-11-30T00:00:00,Event.Owns.BeneficialOwnership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Jillian Morales,Briggs-Wilson,0,NaN
377,2026-07-01,Event.WorksFor,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Matthew Valenzuela,"Sims, Allen and Griffin",1,NaN
5369,NaN,Relationship.FamilyRelationship,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Andrew Garcia,Roberta Garcia,0,NaN
5370,NaN,Relationship.FamilyRelationship,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Andrew Garcia,Christopher Garcia,0,NaN

In [70]:
df_links['type'].value_counts()

type
Event.Owns.Shareholdership         39378
Event.Owns.BeneficialOwnership     21531
Event.WorksFor                     14817
Relationship.FamilyRelationship       91
Name: count, dtype: int64

In [72]:
Event_Owns_Shareholdership = df_links[df_links['type'] == 'Event.Owns.Shareholdership'].dropna(axis=1, how='all')
Event_Owns_BeneficialOwnership = df_links[df_links['type'] == 'Event.Owns.BeneficialOwnership'].dropna(axis=1, how='all')
Event_WorksFor = df_links[df_links['type'] == 'Event.WorksFor'].dropna(axis=1, how='all')
Relationship_FamilyRelationship = df_links[df_links['type'] == 'Relationship.FamilyRelationship'].dropna(axis=1, how='all')

## describe all df_nodes

In [103]:
Organization_Company.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
count,7927,7927,7927,7909,7925,7927,7.911000e+03,7927,7927,7927,7927,7927,7927,7927
unique,1,79,2710,7661,7873,6973,NaN,3186,3,14,13,13,2,7927
top,Entity.Organization.Company,Oceanus,Unknown,Emily Williams,James Smith,1971-10-20T00:00:00,NaN,Unknown,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Abbott, Mcbride and Edwards"
freq,7927,2646,4740,6,2,4,NaN,4733,7792,7792,7793,7793,7792,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.697844e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,4.802053e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.176670e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2.188100e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,3.106123e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
#   ['revenue'].
Organization_Company.sort_values(by='revenue', ascending=False).head(20)

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
755,Entity.Organization.Company,Arvaros,Automobiles,Paul Parker,Amadeo Conte,2002-03-02T00:00:00,3.106123e+08,Briggs-Wilson is a leading manufacturer of hig...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Briggs-Wilson
7100,Entity.Organization.Company,Arvaros,"Passenger cars, trucks, vans, and buses",Rachel Frye,Uriel Espinosa,2007-09-09T00:00:00,1.627347e+08,"Short, Hernandez and Myers is a leading manufa...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Short, Hernandez and Myers"
5912,Entity.Organization.Company,Oceanus,Holding firm whose subsidiaries are engaged in...,Lauren Lopez,Alicia Rufino Corrales Aguilar,1958-04-30T00:00:00,1.150047e+08,Pearson-Williams is a multinational holding fi...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Pearson-Williams
8391,Entity.Organization.Company,Arvaros,"Car service, car parts and accessories, automo...",Christopher Campbell,Maurice Voisin,2031-06-26T00:00:00,9.098641e+07,"Williams, Stanley and Butler is a multifaceted...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Williams, Stanley and Butler"
6759,Entity.Organization.Company,Oceanus,Fully electric vehicles (EVs) and electric veh...,Sarah Rojas,Sonia Gilardoni,1953-12-14T00:00:00,8.146667e+07,Roth Ltd is a leading manufacturer of electric...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Roth Ltd
8612,Entity.Organization.Company,Arvaros,Discount supermarket; Variety of food and non-...,Derek Washington,Marcos VillagÃ³mez,1948-06-29T00:00:00,7.507043e+07,Yang PLC is a discount supermarket offering a ...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Yang PLC
390,Entity.Organization.Company,Mawandia,"Light commercial vehicles, passenger cars, bus...",Rachel Ross,Nico Mazzi,2034-05-12T00:00:00,6.883298e+07,Barr LLC is a leading manufacturer of light co...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Barr LLC
3550,Entity.Organization.Company,Mawandia,"Automobiles, trucks, steel products, industria...",Jerry Larson II,Julien Brunet,1991-09-18T00:00:00,6.559291e+07,"Howard, Thompson and Tate is a multinational c...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Howard, Thompson and Tate"
4182,Entity.Organization.Company,Arvaros,"Diagnostic equipment and pharmaceuticals, agri...",Ronald Campbell,Luigi Russo,1952-01-26T00:00:00,5.534945e+07,Kirby-Gilbert is a multinational corporation t...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Kirby-Gilbert
167,Entity.Organization.Company,Oceanus,Internet Protocol based networking products an...,Kathy Cruz,Sr(a). Ilse Mendoza,1974-12-12T00:00:00,5.156167e+07,"Anderson, Shepherd, and Knight is a company th...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Anderson, Shepherd and Knight"
7407,Entity.Organization.Company,Naraliket,"Food and daily household needs products, gener...",Ryan Turner,Aurore de la Rousset,2026-04-14T00:00:00,4.154256e+07,Stafford PLC is a leading retailer and distrib...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Stafford PLC
3928,Entity.Organization.Company,Oceanus,Grocery products,Timothy Jones,Dott. Mariano Bonolis,1982-10-04T00:00:00,4.036267e+07,Jones Ltd. is a leading provider of high-quali...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Jones Ltd
6530,Entity.Organization.Company,Uzifrica,Computer notebook and electronic products; Per...,Erik Green,Ashley Moore,1976-04-06T00:00:00,3.497177e+07,Roberts-Morris is a leading manufacturer of co...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Roberts-Morris
576,Entity.Organization.Company,Mawandia,"Advanced electronic and electrical products, s...",Emily Bryant,Danielle Johnson,1974-03-25T00:00:00,2.768415e+07,"Best, Humphrey and Pittman is a leading provid...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Best, Humphrey and Pittman"
7992,Entity.Organization.Company,Mawandia,Full line of air-conditioning systems and refr...,Jeffrey King MD,Anthony West,2010-12-09T00:00:00,2.540586e+07,Walker-Pearson is a leading manufacturer of ai...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Walker-Pearson
6745,Entity.Organization.Company,Arvaros,Wide range of consumer products,Erik Hall,Tony Fuentes,2005-03-27T00:00:00,2.412048e+07,"Ross, Flowers and King is a diversified consum...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Ross, Flowers and King"
194,Entity.Organization.Company,Lumakari,D,Lindsay Gray,Juliette Maury de la Blanchard,1970-03-06T00:00:00,2.373978e+07,Anderson-Scott is a leading processor and dist...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Anderson-Scott
3527,Entity.Organization.Company,Faraluna,"Animal feed, animal breeding and animal farmin...",Stephanie Stewart,Christopher Blankenship,2006-05-06T00:00:00,1.793978e+07,House Ltd is a leading provider of animal feed...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,House Ltd
2748,Entity.Organization.Company,Lumakari,Batteries,Gabrielle Gordon,Gregg Fleming,1986-10-10T00:00:00,1.588415e+07,Goodman-King is a leading manufacturer of high...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Goodman-King
4805,Entity.Organization.Company,Mawandia,"Glass products, electronics and display produc...",Jonathan Le,Jean Ollivier,2009-04-23T00:00:00,1.538112e+07,Mata-House is a leading manufacturer and suppl...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Mata-House

In [104]:
Organization_FishingCompany.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
count,600,600,600,599,599,600,6.000000e+02,600,600,600,600,600,600,600
unique,1,46,253,588,599,595,NaN,597,3,3,2,2,2,600
top,Entity.Organization.FishingCompany,Oceanus,Fish and seafood products,Danny Brown,Gregory Hobbs,1965-02-06T00:00:00,NaN,Unknown,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Acosta, Fields and Moore"
freq,600,207,70,5,1,2,NaN,4,598,598,599,599,598,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.938699e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,2.561559e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.632657e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.354456e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5.607217e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,5.580471e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
Organization_FinancialCompany.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
count,23,23,23,23,23,23,2.300000e+01,23,23,23,23,23,23,23
unique,1,11,22,23,23,23,NaN,23,1,1,1,1,1,23
top,Entity.Organization.FinancialCompany,Oceanus,Holding company,Justin Aguilar,Salvi Gatto,2016-02-05T00:00:00,NaN,"Allen, Mcfarland and Avila is a financial serv...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Allen, Mcfarland and Avila"
freq,23,6,2,1,1,1,NaN,1,23,23,23,23,23,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.821237e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1.923729e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.530400e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,6.936667e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.048826e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,8.686802e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
Organization_LogisticsCompany.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
count,311,311,311,305,305,311,3.110000e+02,311,311,311,311,311,311,311
unique,1,31,258,304,305,309,NaN,311,1,1,1,1,1,311
top,Entity.Organization.LogisticsCompany,Oceanus,Freight trucking and other related transportat...,Mariah Carr,James Dawson,1965-08-13T00:00:00,NaN,"Acosta, Campbell and Leblanc is a leading prov...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,"Acosta, Campbell and Leblanc"
freq,311,149,10,2,1,2,NaN,1,311,311,311,311,311,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,8.864547e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6.424162e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.378667e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.926667e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.950804e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,7.216757e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
Organization_NewsCompany#.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
4968,Entity.Organization.NewsCompany,Oceanus,Publication and printing of newspapers and mag...,Lauren Gomez,Kathleen Perez,1984-01-16T00:00:00,12496.67,McLean-Alexander is a leading publisher of new...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Mclean-Alexander
8675,Entity.Organization.NewsCompany,Oceanus,"Publication of daily newspaper, website, and o...",Cynthia Hull,Jessica Simpson,1975-04-08T00:00:00,0.00,"A globally recognized news organization, provi...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Haacklee Herald
8676,Entity.Organization.NewsCompany,Oceanus,"Publication of daily newspaper, website, and o...",Lauren Schmidt,Patricia Bennett,2001-05-17T00:00:00,0.00,"A leading news outlet, offering timely updates...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Lomark Daily
8677,Entity.Organization.NewsCompany,Oceanus,"Publication of daily newspaper, website, and o...",Alexis Carpenter,John Mccall,2006-12-11T00:00:00,0.00,A local news organization that provides regula...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Himark Sun
8678,Entity.Organization.NewsCompany,Oceanus,"Publication of daily newspaper, website, and o...",James Bell,Rachel Morgan,1985-04-02T00:00:00,0.00,"A specialized news outlet, focusing on the lat...",Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,The News Buoy

In [108]:
Organization_NGO#.describe(include='all')

,type,country,ProductServices,PointOfContact,HeadOfOrg,founding_date,revenue,TradeDescription,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id
8679,Entity.Organization.NGO,Oceanus,Advocates for marine life and ecological conse...,Mallory Roy,Susan Hines,2029-08-12T00:00:00,0.0,A dedicated organization focused on the preser...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Oceanus Guardians Alliance
8680,Entity.Organization.NGO,Oceanus,Advocates for marine life and ecological conse...,Tara King,Thomas Gallagher,1999-07-04T00:00:00,0.0,A renowned organization committed to the prote...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,SeaWatch Conservation Society
8681,Entity.Organization.NGO,Oceanus,"Provides high-quality, publicly accessible dat...",Gabrielle Carr,Gina Garcia,2019-02-02T00:00:00,0.0,An initiative dedicated to monitoring and repo...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Marine Sentinels Initiative
8682,Entity.Organization.NGO,Oceanus,"Provides updates on policy changes, legal issu...",Lori Benson,Heidi Anderson,2022-10-05T00:00:00,0.0,An organization focused on advocating for the ...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Paackland Fishermen's Rights Enforcement Network
8683,Entity.Organization.NGO,Oceanus,"Provides news, updates, and resources for cora...",Kristina Collins,Christopher Baldwin,2005-06-02T00:00:00,0.0,A coalition dedicated to the preservation and ...,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Coral Reef Protection Coalition

In [109]:
Person[Person['_last_edited_by']!='Pelagia Alethea Mordoch']

,type,country,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id,dob
60003,Entity.Person,Coralmarica,Niklaus Oberon,2035-02-15T00:00:00,2035-02-15T00:00:00,Oceanus Corporations Monthly - Jan '35,Manual Entry,Casey Price,1999-09-01
60004,Entity.Person,Arvaros,Niklaus Oberon,2035-02-15T00:00:00,2035-02-15T00:00:00,Oceanus Corporations Monthly - Jan '35,Manual Entry,Mrs. Joanne Walker MD,2009-05-17
60007,Entity.Person,Novarctica,Niklaus Oberon,2035-02-15T00:00:00,2035-02-15T00:00:00,Oceanus Corporations Monthly - Jan '35,Manual Entry,Erica Dudley,1984-03-09
60008,Entity.Person,Kilivaria,Niklaus Oberon,2035-02-15T00:00:00,2035-02-15T00:00:00,Oceanus Corporations Monthly - Jan '35,Manual Entry,Brooke Garza,1986-02-22
60009,Entity.Person,Isliandor,Niklaus Oberon,2035-02-15T00:00:00,2035-02-15T00:00:00,Oceanus Corporations Monthly - Jan '35,Manual Entry,Jonathan Stokes,2008-10-17
...,...,...,...,...,...,...,...,...,...
60413,Entity.Person,Mawandia,Niklaus Oberon,2035-12-15T00:00:00,2035-12-15T00:00:00,Oceanus Corporations Monthly - Nov '35,Manual Entry,Mr. Larry Acevedo,1986-12-24
60414,Entity.Person,Isla Solmar,Niklaus Oberon,2035-12-15T00:00:00,2035-12-15T00:00:00,Oceanus Corporations Monthly - Nov '35,Manual Entry,Andrew Owen,2010-11-23
60417,Entity.Person,Oceanus,Niklaus Oberon,2035-12-15T00:00:00,2035-12-15T00:00:00,Oceanus Corporations Monthly - Nov '35,Manual Entry,Kenneth Bautista,2013-01-29
60482,Entity.Person,Oceanus,Niklaus Oberon,2035-06-15T00:00:00,2035-06-15T00:00:00,Oceanus Corporations Monthly - May '35,Manual Entry,Elise Hauser,2006-03-22T00:00:00
60483,Entity.Person,Oceanus,Niklaus Oberon,2035-12-15T00:00:00,2035-12-15T00:00:00,Oceanus Corporations Monthly - Nov '35,Manual Entry,Harvey Janus,2006-05-08T00:00:00

In [110]:
Person.describe(include='all')

,type,country,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id,dob
count,50356,50356,50356,50356,50356,50356,50356,50356,50356
unique,1,86,2,12,12,12,2,50356,14925
top,Entity.Person,Mawalara,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Laura Newman,1971-10-27T00:00:00
freq,50356,3568,50178,50178,50178,50178,50178,1,13

In [111]:
Person_CEO.describe(include='all')

,type,country,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,id,dob
count,1293,1293,1293,1293,1293,1293,1293,1293,1293
unique,1,81,2,12,12,12,2,1293,1229
top,Entity.Person.CEO,Oceanus,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Brian Robertson,1992-09-26T00:00:00
freq,1293,48,1177,1177,1177,1177,1177,1,3

## describe df_links all

In [87]:
Event_Owns_BeneficialOwnership.describe(include='all')

,start_date,type,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,source,target,key,end_date
count,21531,21531,21531,21531,21531,21531,21531,21531,21531,21531.000000,141
unique,9205,1,2,13,13,13,2,16231,8855,NaN,32
top,2035-07-13T00:00:00,Event.Owns.BeneficialOwnership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Sandra Young,Downs Group,NaN,2035-07-13T00:00:00
freq,25,21531,21147,21147,21288,21147,21147,92,119,NaN,25
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000418,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020441,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN

In [88]:
Event_Owns_Shareholdership.describe(include='all')

,start_date,type,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,source,target,key,end_date
count,39378,39378,39378,39378,39378,39378,39378,39378,39378,39378.000000,202
unique,10676,1,2,13,13,13,2,37645,7134,NaN,57
top,2034-12-22T00:00:00,Event.Owns.Shareholdership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,EastOcean Carriers Ges.m.b.H.,TomanovÃ¡ Musil s.r.o.,NaN,2035-01-29T00:00:00
freq,22,39378,38807,38807,39006,38807,38807,5,20,NaN,20
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.022398,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.148148,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN

In [89]:
Event_Owns_Shareholdership.describe(include='all')

,start_date,type,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,source,target,key,end_date
count,39378,39378,39378,39378,39378,39378,39378,39378,39378,39378.000000,202
unique,10676,1,2,13,13,13,2,37645,7134,NaN,57
top,2034-12-22T00:00:00,Event.Owns.Shareholdership,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,EastOcean Carriers Ges.m.b.H.,TomanovÃ¡ Musil s.r.o.,NaN,2035-01-29T00:00:00
freq,22,39378,38807,38807,39006,38807,38807,5,20,NaN,20
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.022398,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.148148,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN

In [90]:
Relationship_FamilyRelationship.describe(include='all')

,start_date,type,_last_edited_by,_last_edited_date,_date_added,_raw_source,_algorithm,source,target,key
count,1,91,91,91,91,91,91,91,91,91.0
unique,1,1,1,1,1,1,1,54,55,NaN
top,2028-05-21T00:00:00,Relationship.FamilyRelationship,Pelagia Alethea Mordoch,2035-01-01T00:00:00,2035-01-01T00:00:00,Existing Corporate Structure Data,Automatic Import,Andrew Garcia,Carlos Hood,NaN
freq,1,91,91,91,91,91,91,3,3,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0